<div *ngIf="livro">
    <form [formGroup]="livroForm" (ngSubmit)="atualizarLivro()">
        <h2>{{livro.titulo}}</h2>
        <div>
            <label for="titulo">Titulo: </label> 
            <input [(ngModel)]="livro.titulo" placeholder="Titulo" formControlName="titulo">
        </div>
        <div>
            <label for="subtitulo">SubTitulo: </label>
            <input [(ngModel)]="livro.subTitulo" placeholder="SubTitulo" formControlName="subTitulo">
        </div>
        <div>
            <label for="resumo">Resumo: </label>
            <input [(ngModel)]="livro.resumo" placeholder="Resumo" formControlName="resumo">
        </div>
        <div>
            <label for="qtdPaginas">Quantidade de paginas: </label>
            <input [(ngModel)]="livro.qtdPaginas" placeholder="Paginas" formControlName="qtdPaginas">
        </div>
        <div>
            <label for="data">Data da Publicação: </label>
            <input [(ngModel)]="livro.dataPublicacao" type="date" formControlName="dataPublicacao">
        </div>
        <div>
            <label for="editora">Editora: </label>
            <input [(ngModel)]="livro.editora" placeholder="Editora" formControlName="editora">
        </div>
        <div>
            <label for="edicao">Edição: </label>
            <input [(ngModel)]="livro.edicao" placeholder="Edição" formControlName="edicao">
        </div>
        <button type="submit" *ngIf="livro.id">Salvar</button>
    </form>
    <div *ngFor="let autor of livro.autores">
        <h4>Autor: {{autor.nome }}</h4>
        <button (click)="deletarAutor(autor, livro)">Deletar Autor</button>
        <button (click)="editarAutor(autor)">Editar Autor</button>
    </div>
    <button (click)="novoAutor()">Novo Autor</button>
    <div *ngIf="autor">
        <form *ngIf="editarFalso" [formGroup]="editarAutorForm" (ngSubmit)="atualizarAutor()">
            <label for="nomeAutor">Nome: </label>
            <input id="nomeAutor" type="text" formControlName="nome" [(ngModel)]="autor.nome">
            <button type="submit">Editar Autor</button>
        </form>
    </div>
    <div>
        <form *ngIf="refalso" [formGroup]="autorForm" (ngSubmit)="criarNovoAutor()">
            <input formControlName="nome" placeholder="Autor">
            <button type="submit">Criar Autor</button>
        </form>
    </div>
    
</div>