<form [formGroup]="buscarLivro" (ngSubmit)="pesquisarLivro()">
    <div>
        <label for="titulo">Pesquisar:</label>
        <input id="titulo" type="text" formControlName="titulo">
        <button type="submit">Pesquisar</button>
    </div>    
</form>
<div>
    <input type="checkbox" [(ngModel)]="checkbox1" (change)="desmarcarCheckBox2()">
    <label for="checkbox1">Livro</label>
    <input type="checkbox" [(ngModel)]="checkbox2" (change)="desmarcarCheckBox1()">
    <label for="checkbox2">Autor</label>
</div>

<button (click)="criarLivro()">Criar Novo Livro</button>
<table>
    <thead>
        <th>Titulo</th>
        <th>Subtitulo</th>
        <th>Resumo</th>
        <th>Quantidade de Paginas</th>
        <th>Data da Publicação</th>
        <th>Editora</th>
        <th>Edição</th>
        <th>Autor</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let livro of livros">
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.subTitulo }}</td>
            <td>{{ livro.resumo }}</td>
            <td>{{ livro.qtdPaginas }}</td>
            <td>{{ livro.dataPublicacao | date : 'dd/MM/yyyy' }}</td>
            <td>{{ livro.editora }}</td>
            <td *ngIf="livro.edicao != 0">{{ livro.edicao }}</td>
            <td *ngFor="let autor of livro.autores"><ul>{{ autor.nome }}</ul></td>
            <td><button (click)="editarLivro(livro)">Editar Livro</button>
                <button (click)="deletarLivro(livro)">Deletar Livro</button></td>
        </tr>
    </tbody>
</table>

<app-editar-livro [livro]="livroParaEditar"></app-editar-livro>
<app-cria-livro (updateTabela)="novoCriado($event)" [livro]="livroParaCriar"></app-cria-livro>
